<div class="cardcontainer">
    <label id="keywords-label" for="search-input">Palavras Chave</label>
    <input class="form-control" id="search-input" type="text" name="keywords">
    <div id="keywords-div">
    </div>
    <div>
        <ul id="select_keywords" class="nav nav-pills">
        </ul>
    </div>
    <div id="documentos"></div>
    <div id="paginacao"></div>
    {{!-- <br> {{#renderDocumentos documentos}}{{documentos}}{{/renderDocumentos}} --}}
</div>