<div class="app-container">
    <label id="keywords-label" for="keywords-input">Palavras Chave</label>
    <input class="form-control" id="keywords-input" type="text" name="keywords">
    <div id="keywords-div">
    </div>
    <div>
        <ul id="select_keywords" class="nav nav-pills">
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <h2>Enviar documentos</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn submitbtn" type="button">Selecionar</button>
        </div>
    </div>
    <input id="upload-input" type="file" name="uploads[]">
    </br>
</div>