<div class="login-container">
<form style="background-color: #888;" method="post" action="/users/login">
  {{!-- <img src="/img/logo300x105.png" width="300" height="105"> --}}
  {{!-- <img src="/img/logo_cinza_300x93.png" width="300" height="93"> --}}
  <img src="/img/logo_cinza_600x187.png" width="300" height="93">
  <div class="form-group">
    <label>Login</label>
    <input type="text" class="form-control tb" name="username">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control tb" name="password">
  </div>
  {{!-- <div class="manterlogado"> --}}
    {{!-- <input type="checkbox" id="manterlogado" name="manterlogado" value="manterlogado"> --}}
    {{!-- <label for="manterlogado">Manter logado?</label> --}}
  {{!-- </div> --}}
  <button type="submit" class="submitbtn btn btn-default">Entrar</button>
</form>
{{!-- <div>
  <a href="#" class="btn btn-link resetpass">Esqueci a senha</a>
</div> --}}
</div>